// standard phone
#mobileNav{
    display: none;
}
#cartapp{
    width: 100%;
    min-height: 88vh;
    padding-top: 150px;
    background: white;
    position: relative;
    .cart-top-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: max-content;
        position: absolute;
        left: 0;
        top: 40px;
        padding-inline: 20px;
        padding-block: 10px;
        &.sticky{
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.98);
        }
        .small-paragraph{
            font-size: 15px;
        }
        .go-back{
            display: flex;
            width: max-content;
            padding-inline: 5px;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 800;
            color: #183b56c9;
            cursor: pointer;
            span{
                display: block;
                width: 42px;
                height: 3px;
                background: #183b56c9;
                margin-right: 10px;
                transform: translateY(2px);
                border-radius: 10px;
            }
        }
    }
    .no-cart{
        text-align: center;
        img{
            display: none;
        }
        h1{
            color: #183B56;
            font-size: 31px;
            font-weight: 800;
            margin-bottom: 45px;
        }
    }
}

// desktop
@media only screen and (min-device-width: 1140px) {
    #desNav{
        display: none;
    }
    #cartapp{
        width: 100%;
        min-height: 308vh;
        padding-top: 150px;
        background: white;
        position: relative;
        .cart-top-row{
            display: none;
        }
        .no-cart{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .row-one{
                h1{
                    color: #183B56;
                    font-size: 31px;
                    font-weight: 800;
                    margin-bottom: 45px;
                }
            }
            .row-two{
                position: relative;
                width: max-content;
                height: max-content;
                img{
                    display: block;
                    width: 500px;
                    height: auto;
                    border-radius: 4px;
                    position: relative;
                }
                &::before{
                    border-radius: 4px;
                    content: '';
                    display: block;
                    position: absolute;
                    right: -45px;
                    bottom: -45px;
                    width: 100%;
                    height: 100%;
                    border: 2px solid black;
                }
            }
        }
    }
    
}