$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;
$navBg : #2f3030;


#cartapp{
    width: 100%;
    min-height: 88vh;
    padding-top: 150px;
    background: white;
    position: relative;
    padding-inline: 20px;
    .no-cart{
        text-align: center;
        img{
            display: none;
        }
        h1{
            color: $black;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 35px;
        }
    }
}

// desktop
@media only screen and (min-device-width: 1140px) {
    #desNav{
        display: none;
    }
    #cartapp{
        width: 100%;
        min-height: 308vh;
        padding-top: 150px;
        background: white;
        position: relative;
        .cart-top-row{
            display: none;
        }
        .no-cart{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .row-one{
                h1{
                    color: #183B56;
                    font-size: 31px;
                    font-weight: 800;
                    margin-bottom: 45px;
                }
            }
            .row-two{
                position: relative;
                width: max-content;
                height: max-content;
                img{
                    display: block;
                    width: 500px;
                    height: auto;
                    border-radius: 4px;
                    position: relative;
                }
                &::before{
                    border-radius: 4px;
                    content: '';
                    display: block;
                    position: absolute;
                    right: -45px;
                    bottom: -45px;
                    width: 100%;
                    height: 100%;
                    border: 2px solid black;
                }
            }
        }
    }
    
}