{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'scss/store/base.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<div class="cover">
   <div class="content">
      <div class="text">
         <!-- <h1>Summer sale ending soo</h1> -->
      </div>
   </div>
</div>



<div class="product-section">
   {% for product in featuredPr %}
   <div class="product" onclick="window.location.href='{% url  'product_detail' product.slug  %}'">
      <img class="product-image" src="{{ product.image.url }}" alt="product-image" />
      <h2 class="product-name">{{ product.name }}</h2>
      <div class="product-price">
         <p class="red">£{{ product.price }}</p>
         <p>£{{ product.discount_price }}</p>
      </div>
      {% if product.num_available > 0 %}   
         <p class="product-stock" class="btn-no-stock">In stock</p>
      {% else %}
         <p class="product-stock">Out of stock</p>
      {% endif %}   
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
       {% if product.is_sale %}
          <p>salg</p>
         {% else %}
         {% endif %}

          {% if product.num_available > 0 %}   
          <p>På lager</p><img src="{% static '/images/other/checkmark.png' %}" width="15sspx" height="15px">
          {% else %}
          <p>På lager</p><img src="{% static '/images/other/uncheckmark.png' %}" width="15sspx" height="15px">
          {% endif %}   
         </div>

         <h3>{{ product.name }}<br/></h3>

         {% if product.discount_price %}
         <div id="productPrice">
            <p id="productNoDiscountPrice">{{ product.price }} kr</p>
            <p id="productDiscountPrice">{{ product.discount_price }} kr</p>
         </div>
         {% else %}
         <p id="productNoDiscountPrice">{{ product.price }} kr</p>
         {% endif %}

         {% if product.in_cart %}
         <a class="btn-in-cart" href="/handlekurv">Produktet er i handlekurven</a>
         {% else %}
         {% if product.num_available > 0 %}   
            <a  @click="addToCart({{ product.id }})" id="addToCart" class="btn-buy">Handlekurv</a>
            <a class="btn-details" href="{% url  'product_detail' product.slug  %}">Se detaljer</a>
            {% else %}
            <a class="btn-no-stock">Produktet er ikke på lager</a>
            {% endif %}   
         {% endif %}


   {% endfor %}



<!-- <div class="cover">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
      <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img id="coverImg" src="{% static '/images/covers/cover-1.jpg' %}">
         <div id="coverInfo">
            <h1 id="coverTxt">Organisk hudpleie produkter</h1>
            <p>Ta vare på huden din</p>
            <button id="coverBtn" onclick="window.location.href='/om'">les om oss</button>
         </div>
        </div>
         
      </div>
   </div>
</div>

<section id="lookingForSection">
   <div id="colLeft">
      <h1>Hva leter du etter?</h1>
   </div>
   <div id="colRight">
      {% for category in featuredCat %} 
      <a href="{% url 'category' category.slug %}">
         <div id="categoryCard">
            <h1>{{ category.name }}</h1>
         </div> 
      </a>
      {% endfor %}
   </div>
</section>





<div id="partnershipOne">
   <div class="detail">
      <h1>PARTNER NAME</h1>
      <button>kjøp</button>
   </div>
   <img src="{% static '/images/covers/sponsor-demo.jpg' %}">
</div> -->

{% endblock %}



{% block scripts %}
<script>
   const fullwidth = new Vue({
      el: '#fullwidth',
      delimeters: ['[[', ']]'],
      store: store,
      
      methods: {
         addToCart(product_id) {
            console.log('Product_id', product_id);

            const data = {
               'product_id': product_id, 
               'update': false,
               'quantity': 1
         };

            fetch('/api/add_to_cart/', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
               },
               credentials: 'same-origin',
               body: JSON.stringify(data)
            }) 
            .then((response) =>{
               console.log(response)

               store.commit('increment', 1);
            })
            .catch(function (error) {
               console.log('Error 2');
               console.log(error);
            })
         }
      }
   });
</script>
{% endblock %}
